.divUserStats{
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #0e375e;
}

.divUserStats h2 {
    text-align: left;
}

.divUserStats h3 {
    text-align: left;
}

.divStatsChessType {
    display: flex;
    justify-content: space-between;
}

.divStatsChessType a {
    color: white;
}

@media (min-width: 768px) {
    .divUserStats {
        width: 30%;
    }
}